/xgboost/best_grid_results_stage1_kuopio_0.pckl
/xgboost/best_grid_results_stage1_kuopio_1.pckl
/xgboost/best_grid_results_stage1_kuopio_2.pckl
/xgboost/best_grid_results_stage1_kuopio_7.pckl
/xgboost/best_indices_cvt_auc_recall3.pckl

/xgboost/tot_grid_results_stage1_kuopio_0.pckl
/xgboost/tot_grid_results_stage1_kuopio_1.pckl
/xgboost/tot_grid_results_stage1_kuopio_2.pckl
/xgboost/tot_grid_results_stage1_kuopio_7.pckl
